.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #16325e;
}
.carousel-indicators li {
    border-color: #16325e;
}
.carousel-indicators li.active {
    background-color: #16325e;
}
.carousel {
    position: relative;
}
.slideanim {visibility:hidden;}
 .slide {
     animation-name: slide;
     -webkit-animation-name: slide;
     animation-duration: 1s;
     -webkit-animation-duration: 1s;
     visibility: visible;
 }
 @keyframes slide {
   0% {
     opacity: 0;
     transform: translateY(70%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }
 @-webkit-keyframes slide {
   0% {
     opacity: 0;
     -webkit-transform: translateY(70%);
   }
   100% {
     opacity: 1;
     -webkit-transform: translateY(0%);
   }
 }
 @media screen and (max-width: 768px) {
   .col-sm-4 {
     text-align: center;
     margin: 25px 0;
   }
   .btn-lg {
       width: 100%;
       margin-bottom: 35px;
   }
 }
 @media screen and (max-width: 480px) {
   .logo {
       font-size: 150px;
   }
 }
